{% extends 'base.html.twig' %}

{% block title %}Willi's portfolio{% endblock %}

{% block body %}

<section class="profile_container">

    {# Bloc gauche :Texte #}
    <div class="profile_text">
        <h1>Hello ! ,My name is <span class="highlight">Willi METY</span></h1>
        <h2>Web developer & Technicien support IT </h2>
        <p>"Je déploie mes compétences au service de vos projets , du code à l'infrastructure.je combine une polyvalence forgée sur le terrain et une expertise technique affûtée pour garantir la performance de vos systèmes.Fort de ce double expertise , je suis votre atout stratégique pour des solutions et un dépannage efficace, prêt à intervenir sur tous les fronts.”</p>
        <button class="read_more">read more</button>
    </div>

    {# Bloc droite:Photo+Contact #} 


    <div class="contact_info">
        <p>Email:<a href="mailto:metywilli.w@gmail.com">metywilli.w@gmail.com</a></p>
        <p>Télephone:<a href="tel:+33787164603">+33787164603</a></p>
    </div>   
         
    <div class="photo_pro">
        
{# Fonction asset : Pour générer le chemin public vers mes images #}
<img class="image_pro" src="{{asset('images/profildev.png')}}" alt="photo de profil">

    </div>
</section>

    


{% endblock %}
