{% extends 'base.html.twig' %}


{% block title %}add product{% endblock %}

{% block body %}
<div class="form-wrapper">
<p>Ajouter des produits </p>
{{ form_start(form) }}
{{form_widget(form)}}

<button type="submit" class="submit-button">Soumettre </button>
{{form_end(form)}}
{% endblock %}



